body, html{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}

.container{
    height: 67vh;
    width: 63vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

#card{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

#left{
    width: 50%;
    height: 100%;
}

#left img{
    width: 100px;
    height: 100px;
}

#right{
    width: 50%;
    height: 100%;
    padding-right: 7vw;
}

#faq-list{
    list-style: none;
    padding: 0;
}

.faq{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


.faq-title{
    margin:10px;
    font-weight: 500;
}

hr{
    border-width: 0.5px;
}